#app {
  #title {
    text-align: center;
  }

  #container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
}

#editor,
#preview {
  height: 75vh;
  padding: 10px;
}

#editor,
#preview,
.header {
  width: 100%;
}

#preview-container {
  display: flex;
  flex-direction: column;

  #preview {
    border: 1px solid black;
    overflow-y: auto;
  }
}

.header {
  gap: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #0a0a23;
  color: white;

  .logo {
    display: block;
    margin-left: 10px;
    width: 5%;
  }
}

// Media Queries
/* Mobile */
@media (max-width: 480px) {
  #container {
    flex-direction: column;
    justify-content: center;
  }

  #editor,
  #preview {
    height: 35vh;
  }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
  #container {
    flex-direction: column;
    justify-content: center;
  }

  #editor,
  #preview {
    height: 40vh;
  }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #container {
    flex-direction: column;
    justify-content: center;
  }

  #editor,
  #preview {
    height: 40vh;
  }
}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  #container {
    flex-direction: column;
    justify-content: center;
  }

  #editor,
  #preview {
    height: 40vh;
  }
}
